/** Import Google Fonts **/
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

/** Reset **/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-size: 16px;
    font-family: "Azeret Mono", monospace;
    color: #0D1321;
}
p{
    line-height: 26px;
}
a{
    text-decoration: none;
}
ul li{
    list-style: none;
}
img{
    max-width: 100%;
}
h1, h2, h3{
    color: #0D1321;
}
h1{
    font-size: 48px;
    line-height: 68px;
}
h2{
    font-size: 32px;
}
h3{
    font-size: 24px;
    line-height: 36px;
}
button{
    cursor: pointer;
}

/** Repetative Styles **/
.primary_color{
    color: #0D1321;
}
section{
    margin: 75px 0;
}
.section_header{
    text-align: center;
    margin-bottom: 48px;
}
.section_header .sec_title{
    margin-bottom: 24px;
}


/** Hero Section Start **/
#hero_section{
    background-image: url('../assets/Hero-bg.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 652px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
}
#hero_section .hero_container{
    width: 998px;
}
#hero_section .hero_container img{
    margin-bottom: 32px;
}
#hero_section .hero_container .hero_title{
    margin-bottom: 24px;
}
#hero_section .hero_container .hero_description{
    margin-bottom: 32px;
}
#hero_section .hero_container .hero_btn{
    background: #0D1321;
    color: #fff;
    width: 244px;
    height: 65px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
}

/** Hero Section End **/


/** Start Web Development Section **/
#webdev_section .webdev_container{
    max-width: 1140px;
    margin: 0 auto;
    background: rgba(13, 19, 33, 0.02);
    border-radius: 10px;
    padding: 80px 97px;
}

#webdev_section .webdev_container .section_content .card{
    padding: 58px 48px;
    background: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    max-width: 946px;
    height: 336px;
    margin-bottom: 32px;
}
#webdev_section .webdev_container .section_content .card_3{
    margin-bottom: 0;
}

#webdev_section .webdev_container .section_content .card .card_title{
    margin-bottom: 16px;
    color: rgba(13, 19, 33, 0.7);
}
#webdev_section .webdev_container .section_content .card .card_desc{
    margin-bottom: 16px;
}
#webdev_section .webdev_container .section_content .card .card_btn{
    font-size: 20px;
    font-weight: 600px;
    width: 171px;
    height: 47px;
    text-align: center;
    border: 1px solid #0D1321;

}

/** End web development section **/


/** Start video section **/
#video_section{
    margin: 75px 0;
}
#video_section .section_header .sec_desc{
    max-width: 852px;
    margin: 0 auto;
}
#video_section .video_container{
    max-width: 1140px;
    margin: 0 auto;
}
#video_section .video_container .section_content{
    border: 1px solid rgba(13, 19, 33, 0.2);
    padding: 32px;
    border-radius: 10px;
}
/** End video section **/



/** Start target section **/
#target_section .target_container{
    max-width: 1140px;
    margin: 0 auto;
}
#target_section .target_container .section_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}
#target_section .target_container .section_content .box{
    width: 364px;
    height: 299px;
    border-radius: 10px;
    padding: 40px;
}

#target_section .target_container .section_content .box_1{
    background: rgba(255, 76, 30, 0.05);
}
#target_section .target_container .section_content .box_2{
    background: rgba(0, 76, 232, 0.05);
}
#target_section .target_container .section_content .box_3{
    background: rgba(255, 223, 0, 0.05);
}

#target_section .target_container .section_content .box img{
    margin-bottom: 24px;
}
#target_section .target_container .section_content .box .box_title{
    margin-bottom: 8px;
}
#target_section .target_container .section_content .box .box_desc{
    margin-bottom: 24px;
}
#target_section .target_container .section_content .box a{
    text-decoration: underline;
    font-weight: bold;
    color: #0D1321;
}

/** End video section **/


/** Start Support section **/
#support_section .support_container{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../assets/handshake.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 1140px;
    margin: 0 auto;
    height: 313px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#support_section .support_container form input[type="text"]{
    width: 548px;
    height: 57px;
    padding: 10px 20px;
    border-radius: 10px;
}
#support_section .support_container form input[type="text"]::placeholder{
    word-spacing: 6px;
}
#support_section .support_container form input[type="submit"]{
    width: 120px;
    height: 57px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}
#support_section .support_container form input[type="text"]:focus, #support_section .support_container form input[type="submit"]:focus{
 outline: none;
}

#support_section .support_container .title{
    color: #fff;
    margin-bottom: 16px;
}
#support_section .support_container .desc{
    color: #fff;
    margin-bottom: 24px;
    max-width: 600px;
    text-align: center;
}
/** End Support section **/


/** Start footer section **/
#footer{
    background: rgba(13, 19, 33, 0.03);
    padding: 35px 0;
}
#footer .footer_container{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#footer .footer_container .footer_copyright{
    font-size: 20px;
    font-weight: 600;
}
#footer .footer_container .footer_copyright a{
    color: #0D1321;
    text-decoration: underline;
}
#footer .footer_right ul{
    display: flex;
    align-items: center;
    gap: 24px;
}
#footer .footer_right ul li{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#footer .footer_right ul li.facebook{
    background: linear-gradient(180deg, #00B2FF -0.91%, #0071FF 104.25%, #006EFF 104.26%);
}
#footer .footer_right ul li.github{
    background: #161614;
}
#footer .footer_right ul li.linkedin{
    background: linear-gradient(135deg, #2489BE 14.64%, #0575B3 85.36%);
}
#footer .footer_right ul li a{
    font-size: 20px;
    color: #fff;
}


/** End footer section **/